body{
    background:gold;
    
    margin-left:100px;
    font-family:"굴림", "serif";
}

li{
    margin:20px;
}

table{
    border: 1px solid;   
}
th,td{
    border-bottom : 1px solid;   
}
 

nav {
        /*width:800px; 
        
        text-align: center;
        */
    }

nav ul {
    border-top:1px solid;
    border-bottom:1px solid;
    padding : 30px;
}

nav ul li{
    display:inline;
    padding : 0 10px;

}


.title-1{
    font-size:20px;
    font-weight:bold;
}
.title-2{
    font-size:20px;
    font-weight:normal;
}



 .code{
    font-size:20px;
    font-weight: normal;
    width:500px;
    border:1px solid;
    margin-left:60px ;
    padding:20px;
}
.ex{
    margin-left:60px ;
    
}