body{
    background:gold;
    line-height:150%;
        
    margin-left:50px;
    font-family:"굴림", "serif";
}

li{
    margin:20px;
}

table{
    border: 1px solid;   
}
tr,th,td{
    border : 1px solid;   
}
 

nav {
        /*width:800px; 
        
        text-align: center;
        */
    }

nav ul {
    border-top:1px solid;
    border-bottom:1px solid;
    padding : 30px;
}

nav ul li{
    display:inline;
    padding : 0 10px;

}

footer{
    margin-top:50px;
}

.title{
    background:orange;
    margin-top:50px;
    margin-bottom:50px;
    padding-top:20px;
    padding-bottom:20px;
    border:2px solid;
    
}
.title-1{
    list-style-type:disc;
    font-size:20px;
    font-weight:bold;
}
.title-2{
    list-style-type:circle;
    font-size:20px;
    font-weight:normal;
}
.title-3{
    list-style-type:square;
    font-size:20px;
    font-weight:normal;
}

.title-4{
    list-style-type:none;
    font-size:20px;
    font-weight:normal;
}


/*소스코드 */
 .code-border{
    line-height:150%;
    font-size:20px;
    font-weight: normal;
    
    width:60%;
    border:1px solid;
    margin-left:20px ;
    padding:10px;
}
 .code-sub{
    margin-left:30px ;
    padding:10px;
}
/*************************/


.ex{
    margin-left:60px ;
    
}